div.row4 .flex1col1 .line1 .detail{color:inherit;box-sizing:border-box;font-weight:400}
div.row4 .flex1col1 .line1 .detail{font-family:Arial;font-size:14px;padding:0 0px}
div.row4 .flex1col1 .line1 .detail h1,div.row4 .flex1col1 .line1 .detail h2,div.row4 .flex1col1 .line1 .detail h3,div.row4 .flex1col1 .line1 .detail h4,div.row4 .flex1col1 .line1 .detail h5,div.row4 .flex1col1 .line1 .detail h6{font-family:aileron;font-weight:200;line-height:1.4em;margin:25px 0 15px}
div.row4 .flex1col1 .line1 .detail h1{font-size:34px}
div.row4 .flex1col1 .line1 .detail h2{font-size:30px}
div.row4 .flex1col1 .line1 .detail h3{font-size:26px}
div.row4 .flex1col1 .line1 .detail h4{font-size:22px}
div.row4 .flex1col1 .line1 .detail h5{font-size:18px}
div.row4 .flex1col1 .line1 .detail h6{font-size:14px}
div.row4 .flex1col1 .line1 .detail p{margin:25px 0;line-height: 24px;}
div.row4 .flex1col1 .line1 .detail ol,div.row4 .flex1col1 .line1 .detail ul{margin-left:15px;list-style-position:outside;margin-bottom:20px}
div.row4 .flex1col1 .line1 .detail ol li,div.row4 .flex1col1 .line1 .detail ul li{margin-left:10px;margin-bottom:10px;}
div.row4 .flex1col1 .line1 .detail ul{list-style-type:disc}
div.row4 .flex1col1 .line1 .detail ol{list-style-type:decimal}
div.row4 .flex1col1 .line1 .detail table{width:100%;border-spacing:0;border-collapse:separate;border:1px solid #aaa}
div.row4 .flex1col1 .line1 .detail table tr:nth-child(even){background:#FAFAFA}
div.row4 .flex1col1 .line1 .detail table caption,div.row4 .flex1col1 .line1 .detail table td,div.row4 .flex1col1 .line1 .detail table th{padding:15px 7px;font:inherit}
div.row4 .flex1col1 .line1 .detail table th{font-weight:400;background-position:100% 100%;background-size:2px 10px;background-repeat:no-repeat}
div.row4 .flex1col1 .line1 .detail table th:last-child{background:0 0}
div.row4 .flex1col1 .line1 .detail a:hover{text-decoration: underline;}

